<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=devide-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mongo File Uploads</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <div class = "container">
            <div class = "row">
                <div class="col-md-6 m-auto">
                    <h1 class = "text-center display-4 my-4">Mongo File Uploads</h1>
                    <form action="/upload" method="POST" enctype="multipart/form-data">
                        <div class="custom-file mb-3">
                            <input type="file" name="file" id="file" class="custom-file-input">
                            <label for ="file" class="custom-file-label">Choose File</label>
                        </div>
                        <input type="submit" value="Submit" class="btn btn-primary btn-block">
                    </form>
                    <hr>
                    <% if(files){ %>
                      <% files.forEach(function(file) { %>
                        <div class="card card-body mb-3">
                          <% if(file.isImage) { %>
                            <img src="image/<%= file.filename %>" alt="">
                            <% } else { %>
                              <%= file.filename %>
                                <% } %>
                                  <form method="POST" action="/files/<%= file._id %>?_method=DELETE">
                                    <button class="btn btn-danger btn-block mt-4">Delete</button>
                                  </form>
                        </div>
                        <% }) %>
                          <% } else { %>
                            <p>No files to show</p>
                            <% } %>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    </body>
</html>